h1{
    text-align: center;
    color: #3C486B;
    font-size: 60px;
    font-family:Merienda;
    padding: 20px;
}
body{
    background-image:url(bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    
}

.top-bar{
    margin: 5% 0px;
    

}
.main-div{
    
    display: inline-block;
    padding: 10px 5%;
    
}
.middle-div{
    margin: 20px;
    display:inline-block;
    margin: 20px;

}
.sec-div{
    margin: 20px;
    display: inline-block;

}
.last-div{
    margin: 20px;
    display: inline-block;
}

.img1{
    border: double blueviolet 3px;
    padding: 20px;
    float: left;
    margin: 0px 10px 0px 10%;
    
}

h2{
    padding:0px 30%;
}
.img2{
    border: double burlywood 3px;
    padding: 20px;
    float: right;
    margin : 0px 10% 0px 10px;
}
.img3{
    border: double palevioletred 3px;
    padding: 20px;
    float: left;
    margin: 0px 10px 0px 10%;
    
}
.footer{
    width: 100%;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    color: blanchedalmond;
    font-size: 20px;
    font-style: italic;
    font-family: Josefin Sans;
    background-color: #393646;
    
}
.fav{
    margin: 5px;
}

p{
    font-family: Merienda;
    font-size: 20px;
    font-style: italic;
    padding:20px 30%;
  
}